* {
    box-sizing: border-box;
}

body {
    font-family: "Inconsolata"
}

li {
    display: inline;
}

/* container */
.boxes {
    /* display: flex; */
    flex-wrap: wrap;
    padding: .5em 0;
    background-color: rebeccapurple;
}

 /* items */
.boxes div {
    flex-grow: 1;
    /* margin: .5em; */
}

.boxes div p {
    padding: .25em;
    background-color: orange;
}

.boxes .a {
    flex-grow: 10;
}

.boxes .a, .boxes .b {
    flex-basis: 50%;
}

body {
    background-color: pink;

}

@media (min-width: 768px){
    body {
        background-color: black;
    }
}

@media (min-width: 900px){
    .boxes {
        display: flex;
    }

    body {
        background-color: blue;
    }

    h1 {
        display: none;
    }
}

