h1 {
    font-family: 'Helvetica';
    color: white;
    background-color: #333; /*dark gray*/
    padding: 2em 1em;
}

p {
    font-size: 20px;
}

li {
    color: blue;
}

em {
    font-style: normal;
    text-decoration: underline;
}

img {
    max-width: 300px;
}